section#comments h1{
    margin: 1em;
}

section#comments article.comment p{
    background-color: #edeff0;
    padding: 1em;
}

article.comment span.date{
    float: right;
}

article.comment span{
    margin-left: 1em;
    margin-right: 1em;
}

article.comment span.user{
    font-style: italic;
}

article.comment span.user::after{
    content: " said:";
}

section#comments form{
    background-color: #edeff0;
    padding: 1em;
    margin: 1em;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
}

section#comments form h2{
    grid-column-end: span 2;
    margin-bottom: 2em;
    font-size: 1.2em;
}

section#comments form label:nth-child(4){
    grid-column-end: span 2;
}

section#comments form label:nth-child(4) textarea{
    height: 5em;
}

section#comments h1{
    font-weight: bolder;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.2em;
}

section#comments form button{
    grid-column-start: 2;
    height: 3em;
    width: 50%;
    margin-left: auto;
    background-color: black;
    color: white;
    border: none;
}



section#comments form button:hover{
    background-color: white;
    color: black;
    border-style: solid;
    border-color: grey;
}


section#comments form label{
    display: flex;
    align-items: center;
    margin-bottom: 1em;

}

section#comments form label:nth-child(3){
    margin-left: 1em;
}

section#comments form label input,textarea{
    flex-grow: 1;
    margin-left: 1em;
}


section#comments form label input{
    height: 2em;
}

section#comments article.comment p::before{
    content: '\201C';
}

section#comments article.comment p::first-letter{
    font-size: 3em;
    font-weight: bolder;
    color: grey;
}




