@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,200");

* {
	font-family: Lora;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	background-color: white;
}

header {
	padding: 0.5em;
	color: white;
	background-color: #046dd5;
}

article header {
	background-color: transparent;
	width: 20%;
	padding-left: 5em;
	padding-top: 2em;
	position: absolute;
}

article header h1 {
	text-shadow: 0.2em 0.2em 0.2em black;
	font-size: 2em;
}

header h2 {
	font-weight: normal;
}

header h1,
h2 {
	padding: 0;
	margin: 0;
}

header h1 {
	margin-top: 0.2em;
}

div#signup {
	margin: 0.5em;
}

div#signup a:first-child {
	border-width: 0px 1px 0px 0px;
	padding-left: 0;
	border-style: solid;
	border-color: white;
}

div#signup a {
	padding: 0 1em;
}

#hamburger {
	display: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li {
	width: auto;
	height: 2em;
	text-align: center;
	border-width: 0.2em 0px 0px 0px;
	border-style: solid;
	padding: 1em;
	vertical-align: middle;
	line-height: normal;
}

ul li:hover a{
	color: white;
}

ul li:nth-child(1) {
	border-color: red;
}
ul li:nth-child(1):hover {
	background-color: red;
}
ul li:nth-child(2) {
	border-color: #8aba56;
}
ul li:nth-child(2):hover {
	background-color: #8aba56;
}
ul li:nth-child(3) {
	border-color: #5b4282;
}
ul li:nth-child(3):hover {
	background-color: #5b4282;
}
ul li:nth-child(4) {
	border-color: #ff8932;
}
ul li:nth-child(4):hover {
	background-color: #ff8932;
}
ul li:nth-child(5) {
	border-color: #19b6e9;
}
ul li:nth-child(5):hover {
	background-color: #19b6e9;
}
ul li:nth-child(6) {
	border-color: #e84c8b;
}
ul li:nth-child(6):hover {
	background-color: #e84c8b;
}

aside#related {
	background-color: rgb(51, 53, 59);
	color: white;
	padding: 1em;
}

section#news img {
	width: 100%;
}

article p {
	margin: 1em;
	text-align: justify;
}

article p::first-letter {
	initial-letter: 2;
}

article footer {
	background-color: #f4655f;
	color: white;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

article footer a {
	text-decoration: underline;
}

footer {
	background-color: rgb(51, 53, 59);
	color: white;
	padding: 0.5em;
}
